 
# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: oc-cmd@2
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'os-conn'
    #cmd: 'oc start-build nodejs-ex --follow'
    cmd: 'oc new-app https://github.com/rcarneironet/nodejs-ex -l name=vssummit-app'
- task: oc-cmd@2
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'os-conn'
    cmd: 'oc start-build nodejs-ex --follow'    
- task: oc-cmd@2
  inputs:
    connectionType: 'OpenShift Connection Service'
    openshiftService: 'OpenShift connection'
    cmd: 'oc status'
